body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #222, #ffcc00);
    color: white;
    overflow-x: hidden;
}

.container {
    max-width: 300px;
    margin: 50px auto;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.5);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffcc00;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-bottom: 10px;
}

td {
    padding: 5px;
}

input {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.money-container {
    display: none;
}
